

body {
    background-color: darkgray;
}

* {
    box-sizing: border-box;
}

.blocks {
    display: flex;
    justify-content: space-around;
}

.block-one, .block-two{
    display: inline-block;
    height: 250px;
    border-radius: 5px;
    text-align: center;
    font-size: medium;
    font-weight: bold;
}

.block-one{
    flex: 2;
}

.block-two{
    flex: 1;
    background-color: white;
}

/* пошук продуктів */
.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
    height: 25%;
    background-color: white;
    border-radius: 5px 5px 0 0;
}

.search-field {
    margin-left: 22px;
    width: 745px;
    height: 35px;
    padding: 5px;
    border-radius: 5px;
    font-family: Arial, serif;
    color: #4f5762;
}

/* кнопка додати */
.add-button {
    background-color: #225d91;
    height: 35px;
    padding: 10px;
    border-radius: 5px;
    font-family: Arial, serif;
    font-size: medium;
    color: white;
    border: none;
    margin-right: 22px;
    font-weight: bold;
    transition: all 0.3s ease;
}

/* рядок із назвою продукту */
.product-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    height: 25%;
    background-color: white;
}

.product-item-buy {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    height: 25%;
    background-color: white;
}

.product-buy {
    border: none;
    font-family: Arial, serif;
    font-size: medium;
    width: 100px;
    margin-left: 22px;
    text-decoration: line-through;
}

.product {
    border: none;
    font-family: Arial, serif;
    font-size: medium;
    width: 100px;
    margin-left: 22px;
}

/* рядок із кількістю продуктів */
.number-of-products {
    display: flex;
}

.productNumber{
    font-family: Arial, serif;
    width: 23px;
    height: 30px;
    padding: 5px;
}

/* кнопки плюс, мінус */
.plus-button {
    background-color: darkgreen;
}

.minus-button {
    background-color: darkred;
}

.minus-button[id="1"]{
    background-color: #9a7575;
    pointer-events: none;
}

.plus-button,
.minus-button {
    border: none;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    display: inline-block;
    height: 30px;
    width: 30px;
    color: white;
    font-family: Arial, serif;
    transition: all 0.3s ease;
}

.minus-button,
.productNumber,
.plus-button {
    margin-left: 5px;
    font-weight: bold;
    font-size: medium;
}

.number-only{
    display: flex;
    margin-right: 5px;
}

/* рядок не куплено */
.not-buy-pr{
    display: flex;
}

.not-buy-product{
    border: none;
    background-color: lightgray;
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    font-family: "Arial", serif;
    font-size: medium;
    color: #4f5762;
    margin-right: 22px;
    font-weight: bold;
    transition: all 0.3s ease;
}

/* рядок куплено */
.buy-pr{
    display: flex;
    margin-right: 22px;
}

.buy-product{
    display: inline-block;
    border-radius: 5px;
    border: none;
    background-color: lightgray;
    padding: 5px;
    font-family: Arial, serif;
    font-size: medium;
    color: #4f5762;
    font-weight: bold;
    transition: all 0.3s ease;
}

.not-button{
    margin-left: 10px;
    background-color: darkred;
    font-family: Arial, serif;
    font-size: medium;
    color: white;
    display: inline-block;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    transition: all 0.3s ease;
}

/* напис залишилося */
.inscription {
    display: flex;
    align-items: center;
    border-bottom: 1px solid gray;
    height: 25%;
    font-family: Arial, serif;
    font-weight: bold;
    font-size: large;
}

.remained,
.bought{
    justify-content: left;
    margin-left: 20px;
}

/* продукти що залишилися */
.not-buy-products-section{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid gray;
    height: 25%;
}

.not-pr-buy{
    display: flex;
    background-color: lightgray;
    justify-content: left;
    align-items: center;
    height: 25px;
    padding: 5px;
    border-radius: 5px;
    margin-left: 15px;
    font-family: Arial, serif;
    font-size: medium;
    color: #4f5762;
}

.amount {
    justify-content: center;
    align-items: center;
    background-color: orange;
    border-radius: 10px;
    border: none;
    display: flex;
    height: 20px;
    width: 20px;
    text-align: center;
    color: white;
    font-family: Arial, serif;
    margin-left: 2px;
}

.buy-products-section{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 25%;
    border: none;
}

.pr-buy{
    display: flex;
    background-color: lightgray;
    justify-content: left;
    align-items: center;
    height: 25px;
    padding: 5px;
    border-radius: 5px;
    margin-left: 15px;
    font-family: Arial, serif;
    font-size: medium;
    color: #4f5762;
    text-decoration: line-through;
}

.amount-pr-buy{
    justify-content: center;
    align-items: center;
    background-color: orange;
    border-radius: 10px;
    border: none;
    display: flex;
    height: 20px;
    width: 20px;
    text-align: center;
    color: white;
    font-family: Arial, serif;
    margin-left: 2px;
    text-decoration: line-through;
}

/* бедж */
.badge{
    position: fixed;
    bottom: -40px;
    left: 10px;
    background-color: #643864;
    color: white;
    font-family: Arial, serif;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
    padding: 5px;
    font-size: large;
    transition: bottom 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
    text-align: center;
}

.badge:hover {
    bottom: 0;
    background-color: #225d91;
}

.badge::after {
    display: block;
    content: "Author: \AMaryna Melnyk";
    text-align: left;
    font-size: small;
    margin-bottom: 5px;
    white-space: pre-line;
}

[data-tooltip] {
    display: inline-block;
    position: relative;
}

[data-tooltip]::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 32px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    background-color: #643864;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

[data-tooltip]:hover::after {
    opacity: 1;
    visibility: visible;
}

.add-button:active,
.not-buy-product:active,
.not-button:active,
.plus-button:active,
.buy-product:active,
.minus-button:active{
    transform: scale(0.9);
}

@media print {
    .badge span{
        display: none;
    }
    .badge{
        height: 85px;
        background-color: white;
        color: black;
        font-size: medium;
        border: 2px solid #643864;
    }
}

@media screen and (max-width: 540px) {
    .blocks {
        flex-wrap: wrap;
    }

    .block-one{
        width: 450px;
    }

    .block-two {
        margin-top: 10px;
        margin-left: 0;
    }
}

@media screen and (min-width: 541px) {
    .blocks {
        flex-wrap: wrap;
    }

    .block-one {
        flex-basis: 60%;
        max-width: 70%;
    }

    .block-two {
        flex-basis: 35%;
        max-width: 25%;
    }
}